body {
  background: black;
  font-family: "San Francisco Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clock {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
}

.nums {
  font-size: 2em;
  color: gray;
  position: absolute;
  font-weight: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 40px;
}
.nums:nth-child(0) {
  top: -90px;
  left: 0px;
}
.nums:nth-child(1) {
  top: -77.94228634px;
  left: 45px;
}
.nums:nth-child(2) {
  top: -45px;
  left: 77.94228634px;
}
.nums:nth-child(3) {
  top: 0px;
  left: 90px;
}
.nums:nth-child(4) {
  top: 45px;
  left: 77.94228634px;
}
.nums:nth-child(5) {
  top: 77.94228634px;
  left: 45px;
}
.nums:nth-child(6) {
  top: 90px;
  left: 0px;
}
.nums:nth-child(7) {
  top: 77.94228634px;
  left: -45px;
}
.nums:nth-child(8) {
  top: 45px;
  left: -77.94228634px;
}
.nums:nth-child(9) {
  top: 0px;
  left: -90px;
}
.nums:nth-child(10) {
  top: -45px;
  left: -77.94228634px;
}
.nums:nth-child(11) {
  top: -77.94228634px;
  left: -45px;
}
.nums:nth-child(12) {
  top: -90px;
  left: 0px;
}

.graduation {
  position: relative;
}
.graduation .hold {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.graduation .hold [class*="ms-"]:before {
  height: 0.375rem;
  width: 0.0625rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 99em;
  position: absolute;
  content: "";
  bottom: 0;
}
.graduation .hold:nth-child(4n) [class*="ms-"]:before {
  background: rgba(255, 255, 255, 0.4);
}
.graduation .hold:nth-child(4n) [class*="ms-"]:before {
  height: 0.625rem;
}
.graduation .hold:nth-child(20n) [class*="ms-"]:before {
  height: 0.9375rem;
}

.w-second, .w-minute, .w-hour {
  height: 0;
  width: 0;
  position: relative;
}

.w-second {
  z-index: 9;
}

.second {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: tictac 60s steps(60) infinite;
          animation: tictac 60s steps(60) infinite;
  background: orange;
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 99em;
}
.second:before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  height: 8.125rem;
  width: 1.95652174px;
  background: orange;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  box-shadow: 0 0.9375rem 0 0 orange;
}

.minute {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: tictac 3600s steps(60) infinite;
          animation: tictac 3600s steps(60) infinite;
}
.minute:before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  height: 3.75rem;
  width: 3px;
  background: white;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
.minute:after {
  position: absolute;
  content: "";
  height: 5.625rem;
  width: 0.625rem;
  background: black;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  border: 0.125rem solid white;
  border-radius: 99em;
}

.hour {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: tictac 43200s linear infinite;
          animation: tictac 43200s linear infinite;
  background: white;
/*
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 99em;
*/  
}
.hour:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 3.75rem;
  width: 3px;
  background: white;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
.hour:after {
  position: absolute;
  content: "";
  height: 3.125rem;
  width: 0.625rem;
  background: black;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  border: 0.125rem solid white;
  border-radius: 99em;
}

@-webkit-keyframes tictac {
  from {
    -webkit-transform: rotateZ(0deg) translate(-50%, -50%);
            transform: rotateZ(0deg) translate(-50%, -50%);
  }
  to {
    -webkit-transform: rotateZ(360deg) translate(-50%, -50%);
            transform: rotateZ(360deg) translate(-50%, -50%);
  }
}

@keyframes tictac {
  from {
    -webkit-transform: rotateZ(0deg) translate(-50%, -50%);
            transform: rotateZ(0deg) translate(-50%, -50%);
  }
  to {
    -webkit-transform: rotateZ(360deg) translate(-50%, -50%);
            transform: rotateZ(360deg) translate(-50%, -50%);
  }
}
